//@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,300,700,400)
@font-face 
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-ud9zp3');
  src:url('fonts/icomoon.eot?#iefix-ud9zp3') format('embedded-opentype'),
    url('fonts/icomoon.woff?-ud9zp3') format('woff'),
    url('fonts/icomoon.ttf?-ud9zp3') format('truetype'),
    url('fonts/icomoon.svg?-ud9zp3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

[class^="icon-"]
[class*=" icon-"]
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.icon-music:before 
  content: "\e911"

.icon-pause:before
  content: "\ea1d"

@font-face
  font-family: 'Roboto'
  src: url('fonts/Roboto-Regular.ttf')

canvas
  z-index: 1

body
  font-family: 'Roboto', sans-serif
  background-color: #303030
  background-image: url('./../images/bg.png')
  color: white

.show
  display: block !important

.tabs
  display: none
    
.text-center
  text-align: center

.clear-list
  list-style: none
  padding: 0 0
  margin: 0 0

.pull-left
  float: left

.pull-right
  float: right
  
.clear
  clear: both

.modal
  background-color: white
  padding: 2em
  
.btn
  border-radius: 5px
  padding: 15px 10px

.blue
  background-color: #55acee  
  box-shadow: 0px 5px 0px 0px #3C93D5
  color: #fff

.main-menu
  text-align: center
  h1
    font-weight: 700
    font-size: 3.8em
  .btn
    font-size: 1.3em
    margin: 15px auto
    width: 120px

h2
  font-size: 1.8em

.song-list
  .btn
    padding: 8px 10px
  .total-points
    font-size: 1.6em
  .songs
    margin: 15px 10px
    .song-item
      margin: 22px 10px
      .title
        padding-left: 10px
        font-size: 1.1em
        font-weight: 600
      .level
        font-size: .9em
        margin-left: 10px
        vertical-align: initial
      .points
        padding-left: 35px
        font-size: 0.9em

.about
  a
    color: white
  h2
    margin-bottom: 40px
  li
    margin-top: 20px

.game
  position: relative
  .song-title
    font-size: 1.6em
    max-height: 50px
    margin-left: 12px
  .song-level
    font-size: 0.9em
    margin-left: 10px
    margin-top: 10px
  .hit-text
    font-size: 25px
    text-align: center;
    position: absolute;
    left: 0
    right: 0
    top: 70px
  .finish-menu
    left: 40% !important
  .open-menu
    background-color: black
    border: 5px solid white
    border-radius: 50%
    text-align: center
    color: black
    .icon-pause
      padding: 10px 5px
      line-height: 1.4em
      color: white
      font-size: 1.4em
  .points
    text-align: center
    font-size: 1.6em
    color: black
  .option
    background-color: #3a444a
    padding: 5px 10px
    font-size: 1.4em
    margin-top: 5px
    color: white
     